body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  display: flex;
  flex-wrap: wrap;
}

#canvas {
  width: 30%;
  min-width: 300px;
  max-width: 500px;
  min-height: 300px;
  max-height: 500px;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
}

button {
}

#data-display {
  display: flex;
  min-width: 300px;
  align-items: flex-end;
}
.data-column-container {
  text-align: center;
  min-width: 25px;
  width: 100%;
}
.data-column-container h2 {
  margin: 0;
}
.data-column {
  background-color: lightblue;
}
.data-column.prediction {
  background-color: lightcoral !important;
}
