:root {
  --light-blue: hsl(209, 88%, 47%);
  --dark-blue: hsl(209, 88%, 30%);
  --darker-blue: hsl(209, 88%, 20%);
  --yellow: hsl(49, 95%, 58%);
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 2.3rem;
}
#app {
  text-align: center;
}

.wrap-container {
  display: flex;
  flex-wrap: wrap;
}
#canvas {
  width: 30%;
  min-width: 300px;
  max-width: 500px;
  min-height: 300px;
  max-height: 500px;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
}

button {
  font-size: 1.5rem;
  background-color: var(--dark-blue);
  padding: 0.3rem 0.6rem;
  margin: 0.2rem;
  border-radius: 4px;
  outline: none;
  border: none;
  color: white;
  transition: 0.1s;
}
button:hover {
  background-color: var(--darker-blue);
}

#data-display {
  display: flex;
  min-width: 300px;
  align-items: flex-end;
}
.data-column-container {
  text-align: center;
  min-width: 25px;
  width: 100%;
}
.data-column-container h2 {
  margin: 0;
}
.data-column {
  background-color: var(--light-blue);
  transition: 0.4s;
}
.data-column.prediction {
  background-color: var(--yellow);
}
